---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/geolocation/v1/geolocate?key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"G9LY5qfYsoCqNCzbxvPS22V4x9k/N-2FhnnKeDOU4EV52ItPYM24z1c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "location": {
          "lat": 39.7511881,
          "lng": -105.00240389999999
         },
         "accuracy": 681.0
        }
  recorded_at: Sat, 22 Dec 2018 22:05:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/geolocation/v1/geolocate?key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"G9LY5qfYsoCqNCzbxvPS22V4x9k/N-2FhnnKeDOU4EV52ItPYM24z1c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "location": {
          "lat": 39.7511881,
          "lng": -105.00240389999999
         },
         "accuracy": 681.0
        }
  recorded_at: Sat, 22 Dec 2018 22:05:59 GMT
recorded_with: VCR 4.0.0
