---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/geolocation/v1/geolocate?key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"G9LY5qfYsoCqNCzbxvPS22V4x9k/dr4wNLi0-3aLP6HmCdNMAzB9AMQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "location": {
          "lat": 39.751202899999996,
          "lng": -105.00199309999999
         },
         "accuracy": 669.0
        }
  recorded_at: Thu, 20 Dec 2018 19:11:44 GMT
recorded_with: VCR 4.0.0
