---
http_interactions:
- request:
    method: get
    uri: https://api.parkwhiz.com/search/?key=<PARKWHIZ_API_KEY>&lat=39.7507834&lng=-104.9964355&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"parkwhiz_url":"http:\/\/www.parkwhiz.com\/search\/?destination=Current+Location&start=1545508800&end=1545516000","lat":39.7507834,"lng":-104.9964355,"locations":28,"min_price":4,"max_price":33,"min_distance":636,"max_distance":2631,"amenities":{"shuttle":0,"eticket":25,"perk":0,"valet":3,"indoor":13,"handicap":6,"restroom":2,"security":4,"tailgate":0,"rv":0,"unobstructed":22,"attended":7,"reentry_allowed":0},"parking_listings":[{"location_name":"Westin
        - Valet Kiosk","location_id":3500,"listing_id":317029,"start":1545508800,"end":1545516000,"parkwhiz_url":"https:\/\/www.parkwhiz.com\/p\/\/p\/denver-parking\/1672-lawrence-st-3501\/?start=1545508800&end=1545516000","api_url":"https:\/\/api.parkwhiz.com\/p\/denver-parking\/1672-lawrence-st-3501?start=1545508800&end=1545516000","address":"1672
        Lawrence St.","city":"Denver","state":"CO","zip":"80202","lat":39.749224262463,"lng":-104.9954303913,"distance":637,"recommendations":0,"reservation":1,"eticket":1,"valet":1,"indoor":1,"shuttle":0,"tailgate":0,"security":1,"restroom":0,"attended":0,"rv":0,"available_spots":10,"price":15,"price_formatted":"$15","www_reserve_url":"https:\/\/www.parkwhiz.com\/find_and_book\/?location_id=3500&start_time=1545508800&end_time=1545516000","api_reserve_url":"https:\/\/api.parkwhiz.com\/find_and_book\/?location_id=3500&start_time=1545508800&end_time=1545516000"},{"location_name":"Tabor
        Center Garage","location_id":3482,"listing_id":67982,"start":1545508800,"end":1545516000,"parkwhiz_url":"https:\/\/www.parkwhiz.com\/p\/\/p\/denver-parking\/1200-17th-st\/?start=1545508800&end=1545516000","api_url":"https:\/\/api.parkwhiz.com\/p\/denver-parking\/1200-17th-st?start=1545508800&end=1545516000","address":"1625
        Lawrence St.","city":"Denver"[...]
