<div class="hello">
  <h1 class="welcome">Welcome to ParKween<h1>
  <h4 class="slogan">Your Everyday Parking Companion<h4>
</div>

<% if !current_user %>
<a class="btn btn-primary btn-lg btn-block" id="root-login-btn" href="/login" role="button">Login</a>
<%end%>
