/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100vh;
  background-image: url('Denver.jpg');
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
  font-family: "Lucida Sans Unicode";
}

.result {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
      );
  border-radius: 50px;
  margin-top: 50px;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  color: #7BD9D2;
}


.btn {
  font-size: 130px;
}

.welcome {
  font-size: 150px;
}

.slogan {
  font-size: 60px;

}

.hello {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
      );
}

.navbar-toggler {
  font-size: 70px;
}

.navbar-brand {
  font-size: 70px;
  color: white;
}

.navbar-dark{
  color: red;
}

nav {
  background-color: black;
  opacity: 0.7;
}

.navbar-brand:hover {
  color: tomato;
}

.nav-item {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#root-login-btn{
  margin-right: 150px;
  opacity: 0.7;
}

.about {
  font-size: 80px;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
      );
}

.tab {
  font-size: 75px;
}

.switch{
  position: relative;
  display: inline-block;
  width: 240px;
  height: 136px;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: .4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 104px;
  width: 104px;
  left: 16px;
  bottom: 16px;
  background-color: white;
  transition: .4s
}

input:checked + .slider{
  // Controlls color of swich on new trip form
  background-color: #2F72A4;
}

input:checked + .slider:before{
  transform: translateX(104px);
}

.slider{
  border-radius: 68px;
}

.slider:before{
  border-radius: 50%;
}

.checkbox{
  display: none;
}

.switch input{
  opacity: 0;
}

.form-background{
  margin-top: 50px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5%;
}

.parking-option{
  display: inline-block;
}

.form-item{
  margin: 20px;
}

input#end_location{
  hover: red;
}

.submit-btn{
  opacity: 0.8;
  position: center;
  border-radius: 10px;
}

.btn-primary{
  background-color: #2F72A4;
  color: white;
}

#map {
  color: black;
  height: 50%;
}
#parking-section-b, #parking-section-c {
  display: none;
  transition: 2s;
}
.next-button {
  display: block;
  color: white;
}
