/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100vh;
  background-image: url('Denver.jpg');
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
}

.btn {
  font-size: 130px;
}

.welcome {
  font-size: 150px;

}

.slogan {
  font-size: 60px;

}

.hello {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
      );
}

.navbar-toggler {
  font-size: 70px;
}

.navbar-brand {
  font-size: 70px;
}

nav {
  background-color: black;
  opacity: 0.7;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: tomato;
}

.nav-item {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#root-login-btn{
  margin-right: 150px;
  opacity: 0.7;
}

.about {
  font-size: 80px;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
      );
}
